/* Scss Document */
$verde:#80b123;
$azul:#0055a4;
$verde:#9cc849;
$fucia:#881781;
$gris:#b0b0b0;
$gris-oscuro:#7d7d7d;
$gris-campo:#eeeeee;
$gris-logo:#c3c3c3;
$fondo-gris:#e4e4e4;
$txt-color:#616161;
$footer:#202020;
$blanco:#fff;
$negro:#000;
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');
body,html{
	height:100%;
}
a,button{
	outline: none;
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;
}
a:hover{
	text-decoration: none!important;
}
.v-align{
	transform: translateY(-50%);
	top: 50%;
	position: absolute;
}
.load{
	position: fixed;
    left: 0;
    right: 0;
    z-index: 1999;
    text-align: center;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
	color: rgba($negro,.2);
	img{
		width: 2.5%;
    	margin: 0 auto;
	}
}
.gral-content{
	font-family: 'Roboto Condensed', sans-serif;
	height: 100%;
	overflow-x: hidden;
	padding-left: 0!important;
	padding-right: 0!important;
	opacity: 0;
}
.show{
	opacity: 1;
}
.newspaper {
    -webkit-column-count: 2; /* Chrome, Safari, Opera */
    -moz-column-count: 2; /* Firefox */
    column-count: 2;
    -webkit-column-gap: 40px; /* Chrome, Safari, Opera */
    -moz-column-gap: 40px; /* Firefox */
    column-gap: 40px;
    -webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
    -moz-column-rule-style: solid; /* Firefox */
    column-rule-style: solid;
    -webkit-column-rule-width: 0px; /* Chrome, Safari, Opera */
    -moz-column-rule-width: 0px; /* Firefox */
    column-rule-width: 0px;
}
.bg{
	background-repeat: no-repeat;
	background-size: auto 110%;
	background-position: center;
}
.bg-full{
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.bg.fix{
	background-attachment: fixed;
	background-size: 43%;
	background-position: left top;
}
.fancybox-close-small:after{
	border-radius: 0!important;
	background: none!important;
	color: $blanco!important;
}
.row.no-glutter{
	div[class^="col-"]{
		padding: 0;
	}
}
#row{
	.rw{
		height: 65%;
		position: relative;
		padding: 0 40px;
		.txt{
			width: 85%;
			font-size: 3rem;
			line-height: 3rem;
		}
	}
	.rw.img{
		height: 35%;
	}
}
.anim{
	-webkit-transition: all .5s ease-out;
	-moz-transition: all .5s ease-out;
	-ms-transition: all .5s ease-out;
	-o-transition: all .5s ease-out;
	transition: all .5s ease-out;		
}
section{
	height: auto;
    min-height: 100%;
	> .container{
		height: auto;
    	min-height: 100%;
		> .row{
			height: auto;
    		min-height: 100%;
			position: relative;
		}
	}
	div[class^="col-"]{
		height: 100%;
	}
	.title{
		margin: 0 auto;
    	left: 0;
    	right: 0;
    	text-align: center;
		color: $blanco;
		font-size: 2.4rem;
		small{
			display: block;
			font-weight: 400;
			color: inherit;
			font-size: 57%;
		}
		b{
			font-weight: 700;
		}
	}
	.txtlft{
		text-align: left;
	}
	.txt{
		color: $blanco;
	}
	.title.bold{		
		text-align: left;
    	padding-left: 17%;
		.list{
			list-style: none;
			padding: 0;
			margin-top: 20px;
			li{
				text-align: left;
				a{
					color: $blanco;
					font-size: 2rem;
    				font-weight: 100;
				}
			}
		}
	}
	.over{		
		.bg-color{
			opacity: 0;
		}
		.title{
			z-index: 2;
		}
		.title,.list,.bg-color{
			-webkit-transition: all .5s ease-out;
			-moz-transition: all .5s ease-out;
			-ms-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
		}
	}	
	.over:hover{
		background-size: auto 115%;
		.title{
			opacity: 0;
		}
		.list,.bg-color{
			opacity: .98;
		}
	}
	.list{
		color: $blanco;
		font-weight: 100;
		font-size: 1.7rem;
		padding: 0;
		list-style: none;
		left: 0;
		opacity: 0;
		z-index: 3;
		li{
			padding-left: 40px;
			border-bottom: 1px solid rgba($blanco,.2);
			margin-bottom: 5px;
			padding-bottom: 5px;
			a{
				color: $blanco;
			}
			a:hover{
				color: $blanco;
			}
		}
	}	
}
section.big{
	height: 100vh;
	>.container {
		height: 100%;
		>.row {
			height: 100%;
		}
	}
}

#metodo div[class^="col-"]{
	overflow: hidden;
	a{
		font-size: 1.5rem;
		font-weight: 100;
		color: $blanco;				
	}
	a:hover{
		color: rgba($blanco,.45);
		text-decoration: none;
	}
	.title.bold {
    	padding-left: 10%;
	}
	.lista{
		list-style: none;
		padding: 0;
		margin-top: 20px;
		a{
			font-size: 2rem;
		}
	}	
	.mini-menu{
		width: 100%;
		height: 100%;
		z-index: 2;
		margin-left: 100%;
		opacity: 0;
		position: absolute;	
		i.cerrar{
			color: $blanco;
			position: absolute;
			left: 10px;
			top: 10px;
			font-size: 4rem;
			cursor: pointer;
			transform: scaleX(-1);
			z-index: 2;
		}
		i.cerrar:hover{
			color: rgba($blanco,.5);
		}
		.title{
			text-align: left;
			margin-bottom: 10px;
			padding-left: 40px;	
			top: 27px;
			left: 20px;
    		position: absolute;
		}
		.list{
			opacity: 1;
		}
	}
	.list{
		width: 100%;
	}
	.mini-menu.active{
		margin-left: -15px;
		opacity: 1;	
		i.cerrar{
			transform: scaleX(1);
		}
	}
}
section.big{
	font-size: 2rem;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	.title{
		font-size: 6rem;
	}
	a.ir{
		position: absolute;
		bottom: 15%;
		background-color: transparent;
		color: $blanco;
		left: 0;
		right: 0;
		border: 1px solid;
		display: inline;
		border-radius: 100%;
		width: 45px;
		height: 45px;
		padding-top: 4px;
		font-size: 2.5rem;
		margin: 0 auto;
	}
	a.ir:hover{
		background-color: $blanco;
		color: $negro;
	}
}
section.mini{
	height: 100%;
	min-height: 100%;
	a{
		cursor: default;
	}
}
/*
  _  _    ___  _  _   
 | || |  / _ \| || |  
 | || |_| | | | || |_ 
 |__   _| | | |__   _|
    | | | |_| |  | |  
    |_|  \___/   |_|  
                      
                      
*/
.page404 .container{
	height: 100%;
	text-align: center;
	.title{
		font-size: 10rem;
		margin: 10px 0 20px;
		color: $negro;
	}
	.v-align{
		left: 0;
		right: 0;
	}
}

/*
  __  __                  
 |  \/  |                 
 | \  / | ___ _ __  _   _ 
 | |\/| |/ _ \ '_ \| | | |
 | |  | |  __/ | | | |_| |
 |_|  |_|\___|_| |_|\__,_|
                          
                          
*/
.navbar-fixed-top .navbar-collapse{
	max-height: 100%!important;
}
nav.navbar{
	border: none;
	background-color: $blanco;
	.img{
		min-width: 150px;
		margin-left: 20px;
		margin-top: 20px;
	}
	.navbar-toggle{ 
		border-color: transparent;
		.icon-bar{
			background-color: $fucia;
		}
	}
	ul#gral-menu{
		list-style: none;
		padding: 0;
		margin: 0 -15px;
		display: flex;
		flex-direction: row;		
		li{
			flex-direction: column;
			flex-grow: 1;
			a{	
				padding: 30px 15px;
				span,i{
					-webkit-transition: all .5s ease-out;
					-moz-transition: all .5s ease-out;
					-ms-transition: all .5s ease-out;
					-o-transition: all .5s ease-out;
					transition: all .5s ease-out;
				}
				span{
					opacity: 1;				
				}
				i{
					opacity: 0;
					font-size: 3rem;
					position: absolute;
					left: 0;
					right: 0;
					color: $blanco;
				}
			}		
			a{
				display: flex;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				height: 100%;
				color: $negro;
				background-color: $blanco;
			}
		}
		li:not(.otro){
			border-right: 1px solid $gris;
			a:hover{
				color: $azul;
				background-color: $azul;
				span{
					opacity: 0;
				}
				i{
					opacity: 1;
				}
			}
		}
		li.current-menu-item{
			a{
				color: $blanco;
				background-color: $azul;				
			}		
		}
		li.verde a{
			color: $blanco;
			background-color: $verde;
		}
		li.azul a{
			color: $blanco;
			background-color: $azul;
		}
	}
}
/*
   _____ _ _     _           
  / ____| (_)   | |          
 | (___ | |_  __| | ___ _ __ 
  \___ \| | |/ _` |/ _ \ '__|
  ____) | | | (_| |  __/ |   
 |_____/|_|_|\__,_|\___|_|   
                             
                             
*/
#carousel-home{
	height: 100%;
	.carousel-control{
		overflow: hidden;
		span{
			background-color: $azul;
			width: 150px;
			height: 160px;
			top: 50%;
			transform: translateY(-50%);
		}
		span:before{
			margin-top: 68px;
    		display: block;
		}
	}
	.carousel-control.left{
		span{
			border-top-right-radius: 50%;
			border-bottom-right-radius: 50%;
			left: -50px;
		}
		span:before{
			margin-left: 40px;
		}
	}
	.carousel-control.right{
		span{
			border-top-left-radius: 50%;
			border-bottom-left-radius: 50%;
			right: -50px;
		}
		span:before{
			margin-right: 40px;
		}
	}
	.carousel-inner{
		height: 100%;
		> .item{
			min-height: 500px;
			height: 100%;
			.row{
				height: 100%;
				> div[class^='col']{
					padding: 0!important;
					height: 100%;
				}
			}
		}	
		div[class^="box"],a[class^="box"]{
			position: relative;
			display: block;
			padding: 10px;
			height: 50%;
			.title{
				width: 40%;
				margin: 0;
				text-align: left;
				left: 5%;
				color: $blanco;
				text-transform: uppercase;
			}
		}
		.box{
			color: $blanco;
			min-height: 500px;
		}
		.box.full{
			height: 100%;
		}
		.box-mini{
			display: block;
			color: $blanco;
			min-height: 250px;
			padding: 20px!important;
			cursor: pointer;
			text-decoration: none;
			.txt{
				opacity: 0;
				width: 70%;
    			margin: 0 auto;
			}
			.txt,.title{
				-webkit-transition: all .5s ease-out;
				-moz-transition: all .5s ease-out;
				-ms-transition: all .5s ease-out;
				-o-transition: all .5s ease-out;
				transition: all .5s ease-out;
			}
			.bg-img{
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				opacity: .2;
				-webkit-filter: grayscale(100%) brightness(100%);
				-moz-filter: grayscale(100%) brightness(100%);
				-ms-filter: grayscale(100%) brightness(100%);
				-o-filter: grayscale(100%) brightness(100%);
				filter: grayscale(100%) brightness(100%);
			}
		}
		.box-mini .all{
			z-index: 2;
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			padding: 20px;
		}
		/*
		.box-mini:after{
			content: '';
			background-color: $verde;
			z-index: 1;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}*/
		.box-mini:hover{
			.bg-img{
				background-size: auto 115%;
			}
			.title{
				opacity: 0;
			}
			.txt{
				opacity: 1;
			}
		}
		small{
			display: block;
			color: $blanco;
			text-transform: capitalize;
    		margin-top: 5px;
			letter-spacing: 1px;
		}
		.sub-title{
			color: $blanco;
			padding-left: 60px;
		}		
	}
}
/*
  _____                                
 |  __ \                               
 | |__) |__ _ __ ___  ___  _ __   __ _ 
 |  ___/ _ \ '__/ __|/ _ \| '_ \ / _` |
 | |  |  __/ |  \__ \ (_) | | | | (_| |
 |_|   \___|_|  |___/\___/|_| |_|\__,_|
                                       
                                       
*/
#equipo{
	.normal{
		height: auto;
	}
	.persona{
		background-repeat: no-repeat;
		background-position: top center;
		background-size: cover;
		/*height: 50%;*/
		height: auto;
		.nombre b{
			font-weight: 700;
			display: block;
		}
		.cargo{
			font-weight: 300;
		}
		.bg-color{
			background-color: transparentize($fucia,.3);
			position: absolute;
			width: 100%;
			height: 100%;
			left: 0;
			top: 0;
			z-index: 1;
		}
		.v-align{
			margin: 0 auto;
			padding: 0 30px;
			left: 0;
			right: 0;
			text-align: center;
			color: $blanco;
			z-index: 2;
		}
		.v-align,.bg-color,.in{
			opacity: 0;
			-webkit-transition: all .5s ease-out;
			-moz-transition: all .5s ease-out;
			-ms-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
		}
		.in{
			position: absolute;
			right: 10px;
			bottom: 10px;
			font-size: 2.5rem;
			color: $blanco;
			z-index: 2;
		}
		.thumbnail{
			position: relative;
			border: none;
			padding: 0;
			overflow: hidden;
			img{
				transform: scale(1);
			}
		}
	}
	.persona:hover{
		.v-align,.bg-color,.in{
			opacity: 1;
		}
		.thumbnail img{
			transform: scale(1.1);
		}
	}
	.desc{
		color: $blanco;
		font-size: 2rem;
		padding-top: 30px;
		padding-bottom: 30px;
		height: auto;
		margin: 10px auto;
	}
}
/*
  ______                            _            
 |  ____|                          | |           
 | |__   _ __   ___ _   _  ___  ___| |_ __ _ ___ 
 |  __| | '_ \ / __| | | |/ _ \/ __| __/ _` / __|
 | |____| | | | (__| |_| |  __/\__ \ || (_| \__ \
 |______|_| |_|\___|\__,_|\___||___/\__\__,_|___/
                                                 
                                                 
*/
#encuestas{
	background-color: $fondo-gris;
	form{
		text-align: left;
    	padding-right: 15px;
	}
	.normal{
		height: auto;
		margin-bottom: 15px;
		div[class^='col'],a.bg{
			background-color: $blanco;
			height: 100%;
			min-height: 180px;
			border-bottom: 4px solid $verde;
		}
		.desc{
			/*-webkit-box-shadow: 0 0 5px 0 transparentize($negro,.8);
			box-shadow: 0 0 5px 0 transparentize($negro,.8);*/		
		}
		.btn.verde{
			border-radius: 0;
			position: absolute;
			right: 5%;
			bottom: 0;
			color: #fff;
		}
	}
	.normal:hover .bg:before{
		-webkit-filter: none;
		-moz-filter: none;
		-ms-filter: none;
		-o-filter: none;
		filter: none;
		filter: none;
	}
	.txt{
		color: $txt-color;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
	}
	.titulo{
		color: $txt-color;
		margin-top: 20px;
	}
	.buscador{
		height: auto;
		padding-top: 30px;
		padding-bottom: 30px;
		margin-bottom: 30px;
		.input-group{
			width: 33.3333333%;
		}
		.input-group-btn{			
			width: 45px;
			border-color:$verde;
			i{
				color: $blanco;
			}
		}
	}
	.bg{
		position: relative;
	}
	.bg:before{
		content: '';
		position: absolute;
		background-position: center;
		background-size: cover;
		left: 0;
		top: 0;
		width: 100%;
    	height: 100%;
		-webkit-filter: grayscale(100%);
		-moz-filter: grayscale(100%);
		-ms-filter: grayscale(100%);
		-o-filter: grayscale(100%);
		filter: grayscale(100%);
		filter: gray; /* IE 6-9 */
		-webkit-transition: all .5s ease-in;
		-moz-transition: all .5s ease-in;
		-ms-transition: all .5s ease-in;
		-o-transition: all .5s ease-in;
		transition: all .5s ease-in;
	}
}
/*
  __  __          _ _       
 |  \/  |        | (_)      
 | \  / | ___  __| |_  __ _ 
 | |\/| |/ _ \/ _` | |/ _` |
 | |  | |  __/ (_| | | (_| |
 |_|  |_|\___|\__,_|_|\__,_|
                            
                            
*/
#multimedia{
	background-color: #e4e4e4;
	margin: 0 -15px;
	.media{
		background-color: $blanco;
		margin: 10px 0;
		.v-align{
		    width: 80%;
			left: 0;
			right: 0;
			margin: 0 auto;
		}
		.media-left{
			padding: 10px 0;
			padding-left: 10px;
			a{
				position: relative;
    			display: block;
				overflow: hidden;
    			max-height: 112px;
				i{
					text-align: center;
					z-index: 2;
					font-size: 3rem;
					width: auto;
					left: 0;
					right: 0;
					margin: 0 auto;
					color: $blanco;
					opacity: 0;
				}
			}
		}
		.media-left a:before{
			content: '';
			display: block;
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba($negro,.7);
			opacity: 0;
			z-index: 1;
			-webkit-transition: all .5s ease-out;
			-moz-transition: all .5s ease-out;
			-ms-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;
		}
		.media-body{
			position: relative;
			color: $gris-oscuro;
			padding: 0 30px 0 20px;
		}
		.media-object{
			max-width: 200px;
		}
		.media-heading{
			color: $fucia;
		}		
		.media-left a:hover{ 
			.media-object{
				-webkit-filter: brightness(1.5);
				-moz-filter: brightness(1.5);
				-ms-filter: brightness(1.5);
				-o-filter: brightness(1.5);
				filter: brightness(1.5);				
			}
			i{
				opacity: 1;
			}
		}
		.media-left a:hover::before{
			opacity: 1;
		}
	}
	.media.stick{
		background-color: $blanco;
		.media-left a{ 
			height: auto;
			max-height: none;
			i{
				font-size: 10rem;
			}
		}
		.media-object{
			max-width: 500px;
		}
		.media-heading{
			color: $azul;
		}
	}
	.none{
		display: none;
	}
}
/*
  _    _                               _            _            
 | |  | |                             (_)          | |           
 | |__| | ___ _ __ _ __ __ _ _ __ ___  _  ___ _ __ | |_ __ _ ___ 
 |  __  |/ _ \ '__| '__/ _` | '_ ` _ \| |/ _ \ '_ \| __/ _` / __|
 | |  | |  __/ |  | | | (_| | | | | | | |  __/ | | | || (_| \__ \
 |_|  |_|\___|_|  |_|  \__,_|_| |_| |_|_|\___|_| |_|\__\__,_|___/
                                                                 
                                                                 
*/
#herramientas{
	.azul{
		padding: 20px 15px;
    	margin: 0 -15px;
		color: $blanco;
		margin-bottom: 20px;
		text-align: center;
		p{
			opacity: .5;
		}
	}
	.title{
		font-family: 'Roboto', sans-serif;
		font-weight: 700;
		text-align: center;
    	padding-right: 40px;
		font-size: 3rem;
		margin-top: 20px;
    	margin-bottom: 10px;
	}
	.mini-title{
		text-align: center;
		font-weight: 700;
		margin-bottom: 40px;
	}
	.form-horizontal .control-label{
		text-align: left;
	}
	.form-control{
		border-radius: 0;
		border-color: $blanco;
		background-color: $gris-campo;
		box-shadow: none;
	}
	.form-control:focus{
		border-color: $azul;
	}
	hr{
		border: none;
		height: 1px;
		background-color: rgba($azul,.1);
		opacity: .1;
		margin: 0;
		margin-bottom: 10px;
	}
	.result{
		.control-label{
			color: $azul;
		}
	}
	.alert-info{
		color: $azul;
		text-align: center;
		border-color: $azul;
	}
}
/*
  _____                          
 |  __ \                         
 | |__) | __ ___ _ __  ___  __ _ 
 |  ___/ '__/ _ \ '_ \/ __|/ _` |
 | |   | | |  __/ | | \__ \ (_| |
 |_|   |_|  \___|_| |_|___/\__,_|
                                 
                                 
*/
#prensa{
	background-color: $fondo-gris;
	.container > .row{
		margin-top: 40px;
	}	
	.normal{
		height: auto;
		margin-bottom: 15px;
		div[class^='col'],a.bg{
			background-color: $blanco;
			height: 100%;
			min-height: 180px;
		}
		.desc{
			/*-webkit-box-shadow: 0 0 5px 0 transparentize($negro,.8);
			box-shadow: 0 0 5px 0 transparentize($negro,.8);*/		
		}
		.btn.verde{
			border-radius: 0;
			position: absolute;
			right: 5%;
			bottom: 0;
			color: #fff;
		}
		.bg{
			padding: 0;
			height: 250px!important;
			overflow: hidden;
			img{
				margin: 0 auto;
    			width: 100%;
				-webkit-filter: brightness(120%);
				-moz-filter: brightness(120%);
				-ms-filter: brightness(120%);
				-o-filter: brightness(120%);
				filter: brightness(120%);
			}
		}		
		.bg:before{
			content: '';
			background-color: rgba($negro,.3);
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			opacity: 1;
			z-index: 2;
			-webkit-transition: all .5s ease-out;
			-moz-transition: all .5s ease-out;
			-ms-transition: all .5s ease-out;
			-o-transition: all .5s ease-out;
			transition: all .5s ease-out;			
		}
	}
	.normal:hover{
		img{
			-webkit-filter: brightness(100%);
			-moz-filter: brightness(100%);
			-ms-filter: brightness(100%);
			-o-filter: brightness(100%);
			filter: brightness(100%);
		}
		.bg:before{
			opacity: 0;
		}
	}
	.txt{
		color: $txt-color;
	}
	.titulo{
		color: $negro;
		margin-top: 20px;
		font-weight: 600;
	}
	.btn.borde{
		margin-top: 20px;
	}
	//Destacado
	.destacado{
		margin-left: 15px;
		margin-right: 15px;
		background-color: $blanco;
		.media-heading{
			color: $negro;
		}
		.media-body{
			color: $txt-color;
			position: relative;
		}	
	}
}
/*
   _____ _             _      
  / ____(_)           | |     
 | (___  _ _ __   __ _| | ___ 
  \___ \| | '_ \ / _` | |/ _ \
  ____) | | | | | (_| | |  __/
 |_____/|_|_| |_|\__, |_|\___|
                  __/ |       
                 |___/        
*/
#single{
	background-color: $fondo-gris;
	padding-top: 40px;
	.interior{
		background-color: $blanco;
		padding: 15px 0px 40px 0;
	}
	.container,.txt{
		color: $gris;
	}
	.title{
		text-align: left;
		color: $negro;
		margin-bottom: 20px;
	}
	.bg{
		min-height: 300px;
    	background-size: cover;
		margin-bottom: 20px;
	}
	.img-responsive{
		margin: 0 auto;
		width: 100%;
	}
	.btn.verde{
		color: $blanco;
	}
	.otros{
		background-color: #fff;
    	margin-top: 40px;
		margin-bottom: 20px;
		padding-top: 20px;
		a.btn{
			color: $blanco;
		}
		.btn.borde{
			color: $negro;
			margin: 20px 0;
		}
		.btn.borde:hover{
			color: $blanco;
		}
		a{
			color: $txt-color;
		}
		.bg{
			min-height: 200px;
		}
	}
}
/*
   _____ _               _    
  / ____| |             | |   
 | |    | |__   ___  ___| | __
 | |    | '_ \ / _ \/ __| |/ /
 | |____| | | |  __/ (__|   < 
  \_____|_| |_|\___|\___|_|\_\
                              
                              
*/
.btn-azul{
	background-color: $azul!important;
	color: $blanco!important;
	border-radius: 0!important;
	border:1px solid $azul!important;
}
.btn-azul:hover,.btn-azul:focus{
	background-color: $blanco!important;
	color: $azul!important;
}
input[type="checkbox"], input[type="radio"] {
    box-sizing: border-box;
    padding: 0;
}
[type="checkbox"]+label {
    position: relative;
	left: -15px;
    padding-left: 25px!important;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1.8rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
[type="checkbox"]:checked+label:before {
    top: -4px;
    left: -5px;
    width: 12px;
    height: 22px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $blanco;
    border-bottom: 2px solid $blanco;
    -webkit-transform: rotate(40deg);
    transform: rotate(40deg);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"]+label:before, [type="checkbox"]:not(.filled-in)+label:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    z-index: 0;
    border: 2px solid $blanco;
    border-radius: 1px;
    margin-top: 2px;
}
[type="checkbox"]:not(:checked), [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
    opacity: 0;
}

[type="checkbox"].filled-in+label:before, [type="checkbox"].filled-in+label:after {
    content: '';
    left: 0;
    position: absolute;
    z-index: 1;
}
[type="checkbox"].filled-in:checked+label:after {
    top: 0;
    width: 20px;
    height: 20px;
    border: 2px solid $blanco;
    background-color: transparent;
    z-index: 0;
}
[type="checkbox"]:not(.filled-in)+label:after {
    border: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
[type="checkbox"].filled-in:checked+label:before {
    top: 0;
    left: 1px;
    width: 8px;
    height: 13px;
    border-top: 2px solid transparent;
    border-left: 2px solid transparent;
    border-right: 2px solid $blanco;
    border-bottom: 2px solid $blanco;
    -webkit-transform: rotateZ(37deg);
    transform: rotateZ(37deg);
    -webkit-transform-origin: 100% 100%;
    transform-origin: 100% 100%;
}
[type="checkbox"].filled-in+label:after {
    border-radius: 2px;
}
.btn.borde{
	text-transform: uppercase;
	font-weight: 600;
	border: 2px solid $negro;
	color: $negro;
	background-color: $blanco;
	border-radius: 0;
}
.btn.borde:hover{
	border: 2px solid $negro;
	color: $blanco;
	background-color: $negro;
}
.label-left .field-wrap{
	flex: none!important;
    display: block!important;
}
.label-left .nf-field-label{
	display: inline-block!important;
}
.share{
	margin: 10px 0;
    border: 1px solid $negro;
	.btn{
		color: $negro;
		background-color: $blanco;
		border-radius: 0;
		text-transform: uppercase;
	}
	.btn[disabled]{
		opacity: 1;
	}
	a{
		border-left: 1px solid $negro;
		color: $negro;
	}
	a:hover{
		color: $blanco!important;
		background-color: $negro;
	}
}
/*
.single{
	.img{
		min-height: 250px;
		height: 80%;
	}
	.title{
		color: $negro;
	}
}*/
.fancybox-slide--video .fancybox-content {
	width  : 800px;
	height : 600px;
	max-width  : 80%;
	max-height : 80%;
}
/*
  _______        _           _       
 |__   __|      | |         (_)      
    | |_ __ __ _| |__   __ _ _  __ _ 
    | | '__/ _` | '_ \ / _` | |/ _` |
    | | | | (_| | |_) | (_| | | (_| |
    |_|_|  \__,_|_.__/ \__,_| |\__,_|
                           _/ |      
                          |__/       
*/
#trabaja-form{
	min-width: 400px;
	width: 50%;
	padding: 0;
	overflow: hidden;
	.form-horizontal{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		font-family: 'Roboto Condensed', sans-serif;		
	}
	.nf-form-title{
		display: none;
	}
	.label-left .nf-field-label{
		width: 18%;
		text-align: left;
		padding-left: 20px;
		label{
			font-weight: 100;
    		font-size: 2.2rem;
		}
	}
	.label-left .nf-field-element{
		width: 82%;
	}
	.field-wrap > div input.form-control{
		border-radius: 0;
		border:none;
		border-bottom: 1px solid $azul;
		padding: 0;
    	margin-bottom: 20px;
	}
	.form-control:focus{
		-webkit-box-shadow:none;
		box-shadow:none;
	}
	.btn-azul{
		float: right;
    	padding: 5px 30px;
    	text-transform: uppercase;
	}
	.label-left .field-wrap{
		align-items: baseline;
	}
	.img-responsive{
		margin-bottom: 40px;
	}
}
/*
  ______          _            
 |  ____|        | |           
 | |__ ___   ___ | |_ ___ _ __ 
 |  __/ _ \ / _ \| __/ _ \ '__|
 | | | (_) | (_) | ||  __/ |   
 |_|  \___/ \___/ \__\___|_|   
                               
                                       
*/
$gradient:56.19%;
footer{
	min-height: 10%;
	height: auto;
	color: $blanco;
	font-size: 1.6rem;
	margin: 0 -15px;	
	a{
		color: $blanco;
	}
	.title{
		font-size: 3rem;
		text-align: left;
		margin: 0;
	}
	.logo.svg{
		width: 70%;
		opacity: .2;
	}
	.publica{
		width: 60%;
	}	
	.logo.svg path{
		fill:$gris-logo;
	}
	/*
	.publica.svg path,.publica.svg rect,.publica.svg ellipse{
		fill:$negro;
	}*/
	.blanco{
		color: $negro;
		padding: 30px 0;
	}
	.row.mini{
		width: 90%;
		margin: 0 auto;
	}
	.col-sm-6{
		height: 100%;
	}
	.suscribir{
		strong{
			display: block;
			color: $blanco;
			font-weight: 500;
		}
		a{
			color: transparentize($blanco,.6);
			i{
				color: $blanco;
			}
		}
		a:hover,a:focus,a:active{
			color: $blanco;
			text-decoration: none;
		}
		title{
			margin: 0;
		}
		a.btn{
			border: 1px solid $blanco;
			color: $blanco;
			border-radius: 0;
			width: 80%;
		}
		a.btn:hover{
			color: transparentize($negro,.6);
			background-color: $blanco;
		}
		div[class^='col-']{
			padding: 25px 10px;
			vertical-align: top;
		}
	}
	
	table{
		width: 100%;
		height: 100%;
    	min-height: 80px;
	}
	.nf-form-content nf-fields-wrap nf-field:first-child{
		position: relative;
		z-index: 1;
	}
	.nf-form-title,.nf-form-fields-required,.nf-error-msg{
		display: none;
	}
	.ninja-forms-field{
		border-radius: 20px;
		font-size: 2rem;
	}
	.submit-container{
		display: inline;
		bottom: 20px;
		position: absolute;
		right: 60px;
		z-index: 100;
		input[type="button"]{
			color: $blanco;
			background-color: $verde;
			font-size: 2rem;
			padding: 6px 30px;
			position: absolute;
    		margin-top: -20px;
		}
	}
	.form-control{
		width: 88%!important;
	}
	.social{
		list-style: none;
		padding: 0;
	}
	.gris-oscuro{
		background-color: $footer;
	}
	.form-control:focus {
		border-color: $verde;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($verde,.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba($verde,.6);
	}
}
/*
  ______              _           
 |  ____|            | |          
 | |__ ___  _ __   __| | ___  ___ 
 |  __/ _ \| '_ \ / _` |/ _ \/ __|
 | | | (_) | | | | (_| | (_) \__ \
 |_|  \___/|_| |_|\__,_|\___/|___/
                                  
                                  
*/
#plaza{
	background-image: url(../img/dummy/cademcl-home-fotos_11.png);	
}
#cademonline{
	background-image: url(../img/dummy/cademcl-home-fotos_12.png);
}
/* // */
.carousel{
	margin: 0 -15px;
}
.carousel-control{
	background-image: none!important;
}
.carousel-control:before{
	background-color: $azul;
}
.bg.full{
	background-size: cover;
}
.gray{
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}
.bg-color{
	position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
}
.verde{
	background-color: $verde!important;
}
.azul{
	background-color: $azul;
}
.fucsia{
	background-color: $fucia;
	color: $blanco;
}
.gris{
	background-color: $gris;
}
.gris-oscuro{
	background-color: $gris-oscuro;
}
.light{
	font-weight: 300!important;
}
@-moz-document url-prefix() {
    .nav > li > a {
        padding: 30px 15px!important;
    }
	footer .submit-container input[type="button"]{
		margin-top: -9px;
	}
	nav.navbar ul#gral-menu li a{
		min-height: 100px;
	}
}
/* Media Big Screen */
@media (min-width: 2900px) {
	#corouserl-home .box-mini:hover{
			.bg-img{
				background-size: auto 140%;
			}
	}
	.bg{
		background-size: auto 130%;
	}
	section .over:hover{
		background-size: auto 140%;
	}
}
/* Media Mobile */
@media (max-width: 480px) {
	.gral-content{
		padding-left: 15px!important;
		padding-right: 15px!important;
	}
	#single{
		margin: 0 -15px;
    	padding: 0 15px;
		.container{
			padding: 0;
		}
		.interior{
			background-color: transparent;
		}
	}
	#nf-form-2-cont .nf-response-msg{
		display: block;
		margin: 40px 0;
		text-align: center;
		font-size: 2rem;
	}
	.load img{
		width: 15%;
	}
	.newspaper {
		-webkit-column-count: 1; /* Chrome, Safari, Opera */
		-moz-column-count: 1; /* Firefox */
		column-count: 1;
		-webkit-column-gap: 0px; /* Chrome, Safari, Opera */
		-moz-column-gap: 0px; /* Firefox */
		column-gap: 0px;
		-webkit-column-rule-style: solid; /* Chrome, Safari, Opera */
		-moz-column-rule-style: solid; /* Firefox */
		column-rule-style: solid;
		-webkit-column-rule-width: 0px; /* Chrome, Safari, Opera */
		-moz-column-rule-width: 0px; /* Firefox */
		column-rule-width: 0px;
	}
	section div[class^="col-"] {
    	height: 50%;
	}
	nav.navbar ul#gral-menu{
		flex-direction: column;
		border: none;
		li a{
			padding: 0;
    		height: 9vh;
			i{
				display: none;
			}
		}
		li:not(.otro) {
    		border-right: none;
			border-bottom: 1px solid rgba($negro,.15);
		}
		br{ 
			content:' ';
			display: inline-block;
    		width: .3em;
		}
	}
	.bg{
		background-size: cover;
	}
	#prensa .normal .bg{
		height: 100%!important;
	}
	#encuestas{ 
		.buscador .input-group {
    		width: 100%;
		}
		.titulo{
			margin-top: 0;
		}
		.desc{
			padding-top: 20px;
		}
		.txt{
			position: static;
			top: auto;
			transform: none;
		}
	}
	
	nav.navbar .img {
		width: auto;
		margin-left: -15px;
		margin-top: -5px;
		height: 30px;
	}
	ul#gral-menu{
		li:not(.otro){
			a:hover{
				color: $negro!important;
				background-color: $blanco!important;
				span{
					opacity: 1!important;
				}
				i{
					opacity: 0!important;
				}
			}
		}
	}
	section.mini {
    	height: auto;
    	min-height: 100vh;
		div[class^="col-"] {
    		height: 50%;
    		min-height: 400px;
		}		
	}
	section.big{
		background-attachment:scroll;
		div[class^="col-"]:first-child {
    		height: 20%;
		}
		.txt{
			width: 90%;
			padding: 0 25px;
			font-size: 1.5rem;
		}
		.title{
			padding: 0 40px;
			font-size: 4rem;
			margin-top: 40px;
		}
	}
	#carousel-home{
		.carousel-inner{
			.item .row>div[class^='col'] {
				padding: 0 15px!important;
			}
			.sub-title{
				padding-left: 20px;
			}
		}
	}
	#row .rw .txt {
    	width: 75%;
		font-size: 2.5rem;
    	line-height: 3rem;
	}
	#metodo{
		div[class^="col-"]{
			height: 100%;
			min-height: 100vh;
			.mini-menu{
				.title{
					left: 0;
					width: 80%;
					margin-left: 0;
				}
				i.cerrar{
					left: auto;
					right: 10px;
					z-index: 5;
				}
			}
			.lista{
				width: 90%;
				a{
					font-size: 1.8rem;
				}
			}
		}
		.over{
			.title{
				top: 20px;
				font-size: 2rem;
				text-align: left;
    			padding-left: 40px;
    			font-weight: 400!important;
			}
			ul.list{
				opacity: 1!important;
				margin-top: 20px;
			}
			.bg-color{
				opacity: .9!important;
			}
		}		
	}
	#multimedia{ 
		.media{ 
			.media-object {
    			max-width: 150px;
			}
			.media-body{
				font-size: 1rem;
				width: 100%;
			}
			.media-heading{
				font-size: 1.5rem;
			}
		}
		.media-left{ 
			a{ 
				height: auto;
				max-height: none;			
				i{
					opacity: 1!important;
				}
			}
			a:before{
    			opacity: 1!important;
			}
		}
		.media.stick{ 
			.media-left{
				padding: 10px 0;
    			display: block;
			}
			.media-body{
				display: block;
    			height: 150px;
				width: 100%;
			}
			.media-object {
    			max-width: 100%;
			}
			.media-heading{
				margin-top: 0px;
				font-size: 2.5rem;
			}
		}
		.txt{
			display: none;
		}
		
	}
	#herramientas .title {
    	padding-right: 0px;
    	font-size: 2.6rem;
    	margin-top: 5%;
	}
	#trabaja-form {
    	min-width: 300px;
		.form-horizontal {
    		width: 90%;
		}
		.label-left .nf-field-label label {
    		font-size: 1.5rem;
		}
		.label-left .nf-field-label {
    		width: 25%;
    		padding-left: 10px;
		}
		.label-left .nf-field-element {
    		width: 70%;
		}
		.btn-azul{
			margin-right: 5%;
		}
	}
	#prensa{
		.normal a.bg{
			min-height: 100px;
		}
		.normal div[class^='col']{
			padding: 10px 15px;
		}
	}
	#single{
		.title{
			margin-top: 10px;
		}
		.v-align{
			transform: none;
			position: static;
			top: auto;
		}
		.otros .titulo{
			font-size: 1.3rem;
		}
	}
	
	footer{
		.publica {
    		width: 80%;
    		margin-left: 10px;
		}
		.label-hidden .nf-field-element {
    		width: 70%;
    		margin-left: 10px;
		}
		.submit-container {
			bottom: 20px;
			right: 130px;
		}
		.blanco {
    		font-size: 1.2rem;
			padding-top: 20px;
		}
		input{
			font-size: 1.5rem!important;
		}
		.submit-container input[type="button"]{
			margin-left: 15px;
			margin-top: -14px;
		}
	}
}