
.icon-link:before { content: '\e800'; } /* '' */
.icon-maleta:before { content: '\e801'; } /* '' */
.icon-ojo:before { content: '\e802'; } /* '' */
.icon-people:before { content: '\e803'; } /* '' */
.icon-pie:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-wrench:before { content: '\e808'; } /* '' */
.icon-videocam-outline:before { content: '\e809'; } /* '' */
.icon-facebook-1:before { content: '\e810'; } /* '' */
.icon-twitter:before { content: '\e812'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */