
.icon-video:before { content: '\e800'; } /* '' */
.icon-link:before { content: '\e801'; } /* '' */
.icon-ojo:before { content: '\e802'; } /* '' */
.icon-people:before { content: '\e803'; } /* '' */
.icon-pie:before { content: '\e804'; } /* '' */
.icon-prensa:before { content: '\e805'; } /* '' */
.icon-user:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-cog:before { content: '\e808'; } /* '' */
.icon-play:before { content: '\e809'; } /* '' */
.icon-check:before { content: '\e80a'; } /* '' */
.icon-search:before { content: '\e80b'; } /* '' */
.icon-download:before { content: '\e80c'; } /* '' */
.icon-herramienta:before { content: '\e80d'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-cancel-1:before { content: '\e80f'; } /* '' */
.icon-facebook-1:before { content: '\e810'; } /* '' */
.icon-cancel-circled-outline:before { content: '\e811'; } /* '' */
.icon-right-open:before { content: '\e812'; } /* '' */
.icon-left-open:before { content: '\e813'; } /* '' */
.icon-right-dir:before { content: '\e814'; } /* '' */
.icon-left-dir:before { content: '\e815'; } /* '' */
.icon-info:before { content: '\e816'; } /* '' */
.icon-info-circled:before { content: '\e817'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-info-circled-alt:before { content: '\f086'; } /* '' */
.icon-list-bullet:before { content: '\f0ca'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-angle-left:before { content: '\f104'; } /* '' */
.icon-angle-right:before { content: '\f105'; } /* '' */
.icon-file-pdf:before { content: '\f1c1'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */