
.icon-link:before { content: '\e800'; } /* '' */
.icon-ojo:before { content: '\e801'; } /* '' */
.icon-maleta:before { content: '\e802'; } /* '' */
.icon-people:before { content: '\e803'; } /* '' */
.icon-pie:before { content: '\e804'; } /* '' */
.icon-user:before { content: '\e805'; } /* '' */
.icon-check:before { content: '\e806'; } /* '' */
.icon-phone:before { content: '\e807'; } /* '' */
.icon-spin6:before { content: '\e839'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-facebook:before { content: '\f300'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */